body {
  background-image: url('../../../public/images/flowerPic.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

main{
  display: flex;
  justify-content: center;
  margin: 50px;
}

img {
  margin-top: 15px;
  height: 400px;
  width: 500px;
  border: 3px solid black;
}

.listContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px double black;
  max-width: 700px;
  min-width: 600px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0, 0.7);
}

p {
  word-wrap: normal;
}

span {
  position: absolute;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
}

button {
  margin: 15px;
  background-color: rgb(54, 47, 47);
  color: white;
  height: 40px;
  cursor: pointer;
}

.slideButton {
  background-color: rgba(148, 141, 141, 0.267);
  color: black;
}

.pictureDescription {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 400px;
  width: 500px;
}



